#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Name=Token Manager
Name[ru]=Ключевые носители и сертификаты
Comment[ru]=Установить сертификаты с ключевых носителей
Exec=python3 /usr/bin/token-manager.py
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/token-manager.png
StartupNotify=true
X-Desktop-File-Install-Version=0.15
Categories=HardwareSettings;Settings;System;
