[Desktop Entry]
Encoding=UTF-8
Name=Token Manager
Name[ru]=Ключевые носители и сертификаты
Comment=Install Delayed Media Certificates
Comment[ru]=Установить сертификаты с ключевых носителей
Exec=token-manager
Terminal=false
Type=Application
Icon=token-manager
StartupNotify=true
X-Desktop-File-Install-Version=0.15
Categories=System;
